.custom {
    &::before {
        background: #23085A;
        content: "";
        display: block;
        width: 130px;
        height: 100%;
        position: absolute;
        transform: skew(0, -45deg);
        left: -130px;
        top: 64px;
    }
    &::after {
        background: #00953B;
        content: "";
        display: block;
        width: 100%;
        height: 130px;
        position: absolute;
        transform: skew(-45deg, 0);
        bottom: -130px;
        left: -66px;
        z-index: 1;
    }
}